@import './media-query-mixins';
@import './dimentions';
@import './colors';

%page {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  //-webkit-overflow-scrolling: touch;

  .art {
    margin-top: 50px;
    height: calc(40% - 50px);
    width: 100vw;
    background: #E8E8E8;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    width: 100vw;
    padding: 0 10vw;
    //background: palevioletred;
    box-sizing: border-box;

    @include orientation('portrait') {
      @include media('>phone') {
        width: 580px;
        padding: 0;
        margin: 0 auto;
        max-width: 90vw;
      }
    }

    &.comeUp {
      @extend %comeUp;
    }

    &.comeDown {
      @extend %comeDown;
    }

    &.leaveUp {
      @extend %leaveUp;
    }

    &.leaveDown {
      @extend %leaveDown;
    }
  }

  @include orientation('landscape') {
    @include media('>phone') {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 10vw;

      .art {
        height: 100%;
        margin-top: 0;
        width: 40vw;
      }

      .content {
        padding: 0;
        width: 40vw;
      }
    }
  }
}
