@font-face {
  font-family: 'simple-pro';
  src: url('./SIMPLERPRO_V3-BLACK.OTF') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'simple-pro';
  src: url('./SIMPLERPRO_V3-BLACKITALIC.OTF') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'simple-pro';
  src: url('SIMPLERPRO_V3-BOLD.OTF') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'simple-pro';
  src: url('SIMPLERPRO_V3-BOLDITALIC.OTF') format('opentype');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'simple-pro';
  src: url('SIMPLERPRO_V3-LIGHT.OTF') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'simple-pro';
  src: url('SIMPLERPRO_V3-LIGHTITALIC.OTF') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'simple-pro';
  src: url('SIMPLERPRO_V3-REGULAR.OTF') format('opentype');
}

/* Walsheim font */

@font-face {
  font-family: 'simple-pro';
  src: url('SIMPLERPRO_V3-REGULARITALIC.OTF') format('opentype');
  font-style: italic;
}
